* {
    box-sizing: border-box;
}

h1,
h3,
h4,
p,
input,
a,
button,
label {
    font-family: $TradeGothic;
    text-transform: uppercase;
}
h1{
    font-size: calc(40/640 * 100vw);
    display: block;
    line-height: 200%;
    @media(min-width: $desktop){
        font-size: 40px;
    }
}
h3 {
    font-size: calc(20/640 * 100vw);
    display: inline-block;
    line-height: 200%;
    @media(min-width: $desktop){
        font-size: 20px;
    }
}
h4{
    @extend %space;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 140%;
}
input[name="money_to_invest"]{
    border: 1px solid #ddd;
}

@include placeholder {
    color: rgba(112, 112, 112, 0.4);
}

.container {
    width: 100%;
    padding: 0 calc(20/640 * 100%);
    @media (min-width: $desktop) {
        padding: 0;
        margin: 0 auto;
        min-width: 1004px;
        max-width: 1140px;
        width: auto;
    }
}

%space {
    margin-bottom: 20px;
}

%clear {
    content: "";
    display: block;
    clear: both;
}

%trade-gothic-title {
    font-family: $TradeGothic;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        height: 77%;
        background: #000;
        width: 1000px;
        -webkit-transform: skew(-11deg, 0);
        -ms-transform: skew(-11deg, 0);
        transform: skew(-11deg, 0);
        margin: 3px 12px 0 0;
    }
}
