<div id="home">

    <div id="exchanges">
        <div class="container">

            <div class="user-money-content">
                <label class="inside-input">R$ </label>
                <input ng-model="user.money" placeholder="money to invest" name="user_money" value="{{user.money}}" type="number" ng-change="calcExchangeTax()" />
            </div>
            <!--  ng-class="{'best-value' : exchange.bestValue == true }" -->
            <div ng-repeat="exchange in exchanges" class="item">
                <h3>{{exchange.name}}</h3>
                <div ng-show="user.money">
                    <p><span>Without Taxes: </span> {{exchange.noTax | number : 7}}</p>
                    <p><span>Taxes: </span> {{exchange.totalTax | number : 7}}</p>
                    <p><span>Liquid: </span> {{exchange.withTax | number : 7}}</p>
                </div>
            </div>

        </div>
    </div>

</div>