<div id="home">
    <div class="container">
        <div class="exchanges-filter">
            <form>
                <div class="user-money-content">     
                    <label class="inside-input">R$ </label>
                    <input 
                    ng-model="user.money" 
                    placeholder="money to invest" 
                    name="user_money" 
                    value="{{user.money}}" 
                    type="number" 
                    ng-change="calcExchangeTax()" 
                    min="1" max="9999999" 
                    prevent-typing-greater
                    />   
                </div>
            </form>
        </div>
    </div>

    <div id="exchanges">
        <div class="container">

            
            <!--  ng-class="{'best-value' : exchange.bestValue == true }" -->
            <div 
            ng-repeat="exchange in exchanges | orderBy:'-withTax'" 
            class="item" 
            ng-show="user.money" 
            ng-class="{'best-exchange' : $index == 0}"
            >
                <div>
                    <h3>{{exchange.name}} </h3>
                    <span ng-class="{'best-exchange' : exchange.bestValue}" ng-show="exchange.bestValue"> (Best Deal)</span>
                    
                    <h4>Bitcoin Price: {{exchange.buy | currency : 'R$'}}</h4>
                    <div>
                        <p><span>Fee: </span> {{exchange.totalTax | number : 7}}</p>
                        <p><span>BTC: </span> {{exchange.withTax | number : 7}}</p>
                    </div>
                </div>  
                <a href="{{exchange.link}}" target="_BLANK" class="exchange-link">visit exchange</a>
            </div>

        </div>
    </div>


</div>